    
header{
    background-color: rgb(255, 255, 255);
}
header h1{
    text-align: center;
}
#img1{
    text-align: center;
    
}
img{
    border-radius: 60%;
    border: solid ;
    width: 20%;
    margin: 0 0 0 0;
}
header nav a{
    padding: 1%;
    margin: 1%;
    border-radius: 10%;
    background-color: rgb(44, 219, 73);
    text-decoration: none;
    
}
